section.content-header
  h1 Users

section.content
  .box
    .box-body.no-padding
      table.table.users(ng-if="users.items.length")
        thead
          tr
            th ID
            th
            th Name
        tbody
          tr(ng-repeat="user in users.items")
            td {{user.id}}
            td
              img(ng-src="{{user.photo}}")
            td {{user.displayName}}
