section.content-header
  h1 Users

section.content
  h1 {{message}}
  input(ng-model="message")


  table.table.users(ng-if="users.items.length")
    thead
      tr
        th
        th
        th Name
    tbody
      tr(ng-repeat="user in users.items")
        td
          img(ng-src="{{user.photo}}")
        td {{user.id}}
        td {{user.displayName}}
